
<div class="panel">
    <div class="panel-heading col-12">
        <mat-accordion >
            <mat-expansion-panel [expanded]=expanded class="accordion-panel">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        Assistant Engineer (Civil)
                    </mat-panel-title>
                    <mat-panel-description>
                        Retirement Statistic as per latest published gradation List
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <table class="table table-striped table-sm ">
                        <tbody>
                            <tr class="reverse-table">
                                <td>Year</td>
                                <td>Total</td>
                            </tr>
                            <tr class="reverse-table" *ngFor="let item of RetirementYearStatistic">
                                <td class="text-center" scope="row">{{ item.year }}</td>
                                <td style="color: chartreuse;" class="text-left" scope="row">{{ item.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion >
            <mat-expansion-panel [expanded]=expanded class="accordion-panel">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title>
                        Engineer (Civil)
                    </mat-panel-title>
                    <mat-panel-description>
                        Retirement Statistic as per Selected Month
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <table class="table table-striped table-sm ">
                        <tbody>
                            <tr class="reverse-table">
                                <td>Month</td>
                                <td>Total</td>
                            </tr>
                            <tr class="reverse-table" *ngFor="let item of RetirementMonthStatistic">
                                <td class="text-center" scope="row">{{ item.month }}</td>
                                <td style="color: chartreuse;" class="text-left" scope="row">{{ item.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <form  class="d-flex" [formGroup]="aeRetirementForm" >
            <div id="table-header" class="input-group col-lg-12">
                <div class="col-lg-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="color: white; font-size: medium;">Search</span>
                        <input (keyup)="getSearchTableData($event.target.value)" type="text" class="form-control" placeholder="Search table" >
                    </div>
                </div>
                <div class="input-group-prepend col-5">
                    <span class="input-group-text" style="color: white; font-size: medium;" >
                        Retirement Details of Assistant Engineer(Civil) Total in Service: {{ AeInServiceTotal.total }}
                    </span>
                </div>

                <span class="spacer"></span>

                <div class="input-group-prepend col-2">
                    <span class="input-group-text" style="color: rgb(250, 243, 243); font-size: medium;">
                        Year: {{ totalInYear }}
                    </span>
                    <select
                        [(ngModel)]="retireYear"
                        formControlName="retireYear"
                        class="form-control"
                        (change)="getAeRetirementYearList($event.target.value)"
                        >
                        <option [value]=" " [selected]="true">--Select--</option>
                        <option *ngFor="let item of RetirementYearStatistic" [value]="item.year">
                            {{ item.year }}
                        </option>
                    </select>
                </div>

                <div class="input-group-prepend col-2">
                    <span class="input-group-text" style="color: rgb(248, 244, 244); font-size: medium;">Month: {{ totalInMonth }}</span>
                    <select [(ngModel)]="retireMonth" formControlName="retireMonth" class="form-control" (change)="getAeRetirementByMonth($event.target.value)">
                        <option [value]=" " [selected]="true">--Select--</option>
                        <option *ngFor="let item of aeRetireMonthList" [value]="item.month_value">
                            {{ item.month_name }}
                        </option>
                    </select>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm ">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center text-truncate" scope="col">Sl.</th>
                        <th class="text-center" data-sortable="true" scope="col">Grad. Sl no.</th>
                        <th class="text-left" scope="col" >Engineers' Name</th>
                        <th class="text-center" class="text-center" scope="col">Caste</th>
                        <th class="text-center" scope="col">Date of Birth</th>
                        <th class="text-center" scope="col">Date of Retirement</th>
                        <th class="text-center" scope="col">Date of Joining</th>
                        <th class="text-center" scope="col">Date of Confirmation</th>
                        <th class="text-center" scope="col">Higher Scale</th>
                        <th class="text-center" scope="col">Published</th>
                        <th class="text-center" scope="col">Service Status</th>
                        <th class="text-center" scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of aeRetirementList; let sl = index; ">
                        <td class="text-center" scope="row">{{ sl + 1 }}</td>
                        <td class="text-center" scope="row">{{ item.gradation_sl_no }}</td>
                        <td class="text-left" scope="row">{{ item.engineer_name }}</td>
                        <td class="text-center" scope="row">{{ item.caste_alias }}</td>
                        <td class="text-center" scope="row">{{ item.engineer_dob }}</td>
                        <td class="text-center" scope="row">{{ item.engineer_dor }}</td>
                        <td class="text-center" scope="row">{{ item.assistant_engineers_doj }}</td>
                        <td class="text-center" scope="row">{{ item.assistant_engineers_doc }}</td>
                        <td class="text-center" scope="row">{{ item.ee_higher_scale_date }}</td>
                        <td class="text-center" scope="row">{{ item.gradation_list_wef }}</td>
                        <td class="text-justify" scope="row">{{ item.service_status }}</td>
                        <td class="text-justify" scope="row">{{ item.notes }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination" id="table-pagination">
            <span class="spacer"></span>
            <div *ngIf="loading" class="d-flex align-items-center">
                <strong>Loading...</strong>
                <span class="spinner-border text-light"></span>
                <span class="spinner-border text-danger"></span>
                <span class="spinner-border text-dark"></span>
            </div>
            <span class="spacer"></span>
            <div class="pagination">
                <pagination
                    [boundaryLinks]="showBoundaryLinks"
                    [totalItems]="totalRecords"
                    [maxSize]="maxSize"
                    [itemsPerPage]="pageSize"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"
                ></pagination>
            </div>
            <span class="spacer"></span>
            <div class="d-flex justify-content-right">
                <div class="col-md-8 mt-2" style="white-space: nowrap;">Item per Page</div>
                <select (change)="onTableSizeChange($event)" class="custom-select" >
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                </select>
            </div>
        </div>
    </div>
<div>

