<div class="content" *ngIf="authUser">
  <div class="card card-user">
    <div class="d-flex card-header">
      <div class="col-md-3">
        <h2 class="title" *ngIf="authUser.pwdWrkProfileCreated == null">Present Profile</h2>
        <h2 class="title" *ngIf="authUser.pwdWrkProfileCreated != null">Updated Profile</h2>
        <span class="spacer"></span>
      </div>
      <span class="spacer"></span>
      <div *ngIf="isLoading" class="d-flex align-items-center">
        <strong>Loading...</strong>
        <span class="spinner-border text-light"></span>
        <span class="spinner-border text-danger"></span>
        <span class="spinner-border text-dark"></span>
      </div>
      <span class="spacer"></span>
      <h2 class="title">PWD Working Profile Update Form</h2>
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-md-3">
          <p class="card-text"></p>
          <div class="author">
            <span *ngIf="isLoading" class="spinner-border text-success"></span>
          </div>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img [src]="imagePreview || authUser.photo" class="avatar"><br/>
          </div>
          <div class="author-details">
            <p><span style="color: rgb(255, 217, 0);">Name: </span>{{ authUser.name }}</p>
            <p><span style="color: rgb(251, 255, 0);">E-mail: </span>{{ authUser.email }}</p>
            <p><span style="color: rgb(0, 255, 234);">DOB: </span>{{ authUser.dob }}</p>
            <p><span style="color: rgb(238, 255, 0);">Mobile: </span>{{ authUser.mobile }}</p>
            <p><span style="color: rgb(255, 187, 0);">Designation: </span>{{ authUser.designation_name }}</p>
            <p><span style="color: rgb(0, 255, 98);">Department: </span>{{ authUser.department_short_name }}</p>
            <p *ngIf="authUser.circleName != null">
              <span style="color: rgb(0, 255, 98);">Circle: </span>{{ authUser.circleName }}
            </p>
            <p *ngIf="authUser.divnName != null">
              <span style="color: rgb(0, 255, 98);">Division: </span>{{ authUser.divnName }}
            </p>
            <p *ngIf="authUser.subDivnName != null">
              <span style="color: rgb(0, 255, 98);">Sub-Division: </span>{{ authUser.subDivnName }}
            </p>
            <p *ngIf="authUser.sectionName != null">
              <span style="color: rgb(0, 255, 98);" >Section: </span>{{ authUser.sectionName }}
            </p>
            <p *ngIf="authUser.stackyardName != null">
              <span style="color: rgb(255, 187, 0);">Stackyard: </span>{{ authUser.stackyardName }}
            </p>
            <p *ngIf="authUser.rlyName != null">
              <span style="color: rgb(255, 187, 0);">Railway Yard: </span>{{ authUser.rlyName }}
            </p>
            <p *ngIf="authUser.distName != null">
              <span style="color: rgb(255, 187, 0);">District: </span>{{ authUser.distName }}
            </p>
            <p *ngIf="authUser.pwdWrkProfileCreated != null">
              Working Profile Created: {{ authUser.pwdWrkProfileCreated }}
            </p>
            <p *ngIf="authUser.pwdWrkProfileUpdated != null">
              Last Profile Updated: {{ authUser.pwdWrkProfileUpdated }}
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-4">
              <div class="col-md-12">
                <form [formGroup]="circleForm" *ngIf="isCircleFormShow">
                  <h2 style="text-align: center;">New Circle Entry Form</h2>
                  <div class="form-group col-12">
                    <label>Name of Circle*</label>
                    <input type="text" formControlName="circle_name" placeholder="enter your circle name" class="form-control"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label>Old Circle Name</label>
                    <input type="text" formControlName="old_circle_name" placeholder="Previous name(if any)"
                      class="form-control" required>
                  </div>
                  <div class="form-group col-12">
                    <label>Remarks</label>
                    <input type="text" formControlName="remarks" placeholder="enter remarks" class="form-control">
                  </div>
                  <div class="d-flex col-12">
                    <span class="spacer"></span>
                    <button class="btn btn-sm btnGrn" [disabled]="!circleForm.valid" (click)="addNewCircle()">Submit</button>
                    <button class="btn btn-sm btn-rose" (click)="cancelCircle()">Cancel</button>
                  </div>
                </form>
              </div>

              <div class="col-md-12">
                <form [formGroup]="divisionForm" *ngIf="isDivisionFormShow">
                  <h2 style="text-align: center;">New Division Entry Form</h2>
                  <div class="form-group col-12">
                    <label>Name of Division*</label>
                    <input type="text" formControlName="divn_name" placeholder="your Division name" class="form-control"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label>Old Division Name</label>
                    <input type="text" formControlName="old_divn_name" placeholder="Previous name(if any)" class="form-control"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label>Remarks</label>
                    <input type="text" formControlName="remarks" placeholder="enter remarks" class="form-control">
                  </div>
                  <div class="col-12 mt-4">
                    <span class="spacer"></span>
                    <button class="btn btn-sm btnGrn" [disabled]="!divisionForm.valid"
                      (click)="addNewDivision()">Submit</button>
                    <button class="btn btn-sm btn-rose" (click)="cancelDivision()">Cancel</button>
                  </div>
                </form>
              </div>

              <div class="col-md-12">
                <form [formGroup]="subDivisionForm" *ngIf="isSubdivisionFormShow">
                  <h2 style="text-align: center;">New Sub-Division Entry Form</h2>
                  <div class="form-group col-12">
                    <label>Name of Sub-Division*</label>
                    <input type="text" formControlName="subDivn_name" placeholder="enter your Sub-Division name"
                      class="form-control" required>
                  </div>
                  <div class="form-group col-12">
                    <label>Old Sub-Division name</label>
                    <input type="text" formControlName="old_subDivn_name" placeholder="Previous name(if any)"
                      class="form-control">
                  </div>
                  <div class="form-group col-12">
                    <label>Remarks</label>
                    <input type="text" formControlName="remarks" placeholder="enter remarks" class="form-control">
                  </div>
                  <div class="form-group col-12 mt-4">
                    <span class="spacer"></span>
                    <button class="btn btn-sm btnGrn" [disabled]="!subDivisionForm.valid"
                      (click)="addNewSubDivision()">Submit</button>
                    <button class="btn btn-sm btn-rose" (click)="cancelSubDivision()">Cancel</button>
                  </div>
                </form>
              </div>

              <div class="col-md-12">
                <form [formGroup]="sectionForm" *ngIf="isSectionFormShow">
                  <h2 style="text-align: center;">New Section Entry Form</h2>
                  <div class="form-group col-12">
                    <label>Name of Section*</label>
                    <input type="text" formControlName="section_name" placeholder="your Section name" class="form-control"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label>CUG Mobile</label>
                    <input type="text" formControlName="mobile" placeholder="CUG if any" class="form-control">
                  </div>
                  <div class="form-group col-12">
                    <label>Remarks</label>
                    <input type="text" formControlName="remarks" placeholder="remarks" class="form-control">
                  </div>
                  <div class="form-group col-12 mt-4">
                    <span class="spacer"></span>
                    <button class="btn btn-sm btnGrn" [disabled]="!sectionForm.valid" (click)="addNewSection()">Submit</button>
                    <button class="btn btn-sm btn-rose" (click)="cancelSection()">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-8">
              <form [formGroup]="pwdWorkingProfileForm" >
                <div class="card-body">
                  <div class="row">
                    <div class="d-flex col-12">
                      <div class="form-group col-md-6 pr-md-1">
                        <label>Department*</label>
                        <select (change)="getCirclesByDepartmentId($event.target.value)" formControlName="department" class="form-control" required style="color: greenyellow;">
                          <option value="null">--Select Department--</option>
                          <option *ngFor="let item of depts" [value]="item.id">
                            {{ item.department_short_name }}
                          </option>
                        </select>
                      </div>
                      <div class="d-flex col-12" *ngIf="authUser.designation_id < 6" >
                        <div class="form-group col-md-6">
                          <a class="btn btn-sm btnCol" (click)="showCircleInsertFormIf($event.target.value)"><fa-icon [icon]="faPlus"></fa-icon></a>
                          <label>Circle*</label>
                          <select tooltip ="if your Circle not in dropdown menu. Click on + sign to add your Circle" placement="top" (change)="getDivisionsByCircleId($event.target.value)" formControlName="circle_id" class="form-control" required>
                            <option value="null">--Select Circle--</option>
                            <option *ngFor="let item of circles" [value]="item.id">
                              {{ item.circle_name }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex col-12" *ngIf="authUser.designation_id < 5">
                      <div class="form-group col-md-6 pr-md-1">
                        <a class="btn btn-sm btnCol" *ngIf="pwdWorkingProfileForm.value.circle_id" (click)="showDivisionInsertFormIf($event.target.value)"><fa-icon [icon]="faPlus"></fa-icon></a>
                        <label>Division*</label>
                        <select tooltip ="if your Division not in dropdown menu. Click on + sign to add your Division" placement="left"  (change)="getSubDivisionsByDivisionId($event.target.value); getDepartmentalStackyardByDivnId($event.target.value)" formControlName="division_id" class="form-control" required>
                          <option value="null">--Select Division--</option>
                          <option *ngFor="let item of divns" [value]="item.id">
                            {{ item.division_name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 pr-md-1" *ngIf="authUser.designation_id < 4">
                        <a class="btn btn-sm btnCol" *ngIf="pwdWorkingProfileForm.value.division_id" (click)="showSubDivisionInsertFormIf($event.target.value)"><fa-icon [icon]="faPlus"></fa-icon></a>
                        <label>Sub-Division*</label>
                        <select tooltip ="if your Sub-Division not in dropdown menu. Click on + sign to add your Sub-Division" placement="right" (change)="getSectionsBySubDivisionId($event.target.value)"  formControlName="sub_division_id" class="form-control" required>
                          <option value="null">--Select Sub-Division--</option>
                          <option *ngFor="let item of subDivns" [value]="item.id">
                            {{ item.sub_division_name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="d-flex col-12" >
                      <div class="form-group col-md-6 pr-md-1" *ngIf="authUser.designation_id === 2">
                        <a class="btn btn-sm btnCol" *ngIf="pwdWorkingProfileForm.value.sub_division_id" (click)="showSectionInsertFormIf($event.target.value)"><fa-icon [icon]="faPlus"></fa-icon></a>
                        <label>Section*</label>
                        <select tooltip ="if your Section not in dropdown menu. Click on + sign to add your Section" placement="left"  formControlName="section_id" class="form-control" required>
                          <option value="null">--Select Section--</option>
                          <option *ngFor="let item of sections" [value]="item.id">
                            {{ item.section_name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 pr-md-1" *ngIf="authUser.designation_id < 3">
                        <a class="btn btn-sm btnCol" (click)="getAllDepartmentalStackyard($event.target.value)"><fa-icon [icon]="faEdit"></fa-icon>&nbsp;edit</a>
                        <label>Divisional Stack Yard*</label>
                        <select tooltip ="if your Departmental Stackyard / Godown is not in dropdown menu. Click on edit to select your choice" placement="right" formControlName="stackyard_id" class="form-control" required>
                          <option value="null">--Select Stack Yard--</option>
                          <option *ngFor="let item of stackYards" [value]="item.id">
                            {{ item.stackyard_name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex col-12">
                      <div class="form-group col-md-6 pr-md-1">
                        <label>Your Posting District*</label>
                        <select formControlName="district_id" class="form-control" required>
                          <option value="null">--Select District--</option>
                          <option *ngFor="let item of districts" [value]="item.id">
                            {{ item.district_name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 pr-md-1" *ngIf="authUser.designation_id < 3">
                        <label>Nearest Railway Yard*</label>
                        <select formControlName="railway_id" class="form-control" required>
                          <option value="null">--Select Railway Yard--</option>
                          <option *ngFor="let item of rlys" [value]="item.id">
                            {{ item.railway_yard_name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex col-12">
                      <div class="form-group col-md-12 pr-md-1">
                        <label>Remarks</label>
                        <textarea formControlName="remarks" type="text" class="form-control" placeholder="Remarks (if any)" >
                        </textarea>
                      </div>
                    </div>
                    <div class="d-flex col-12">
                      <span class="spacer"></span>
                      <button class="btn btn-sm btnGrn" (click)="updatePwdWorkingProfile()">Submit</button>
                      <button class="btn btn-sm btn-rose" (click)="resetPwdWorkingProfile()">Reset</button>
                      <button class="btn btn-sm btn-dark" [routerLink]="['/pwd-works']" routerLinkActive="active" >Cancel</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div>
  <pre>
    {{ pwdWorkingProfileForm.value | json}}
  </pre>
</div> -->





