<footer class="footer">
  <div class="d-flex container-fluid">
    <div style="font-family: serif; padding-top: 30px; font-style: italic;">
      This web site is dedicated to my mentor &nbsp;<i class="material-icons">favorite</i>Shri Sukanta Hui, Barrackpore, Kolkata. 
    </div>

    <span style="flex: 1 1 auto;"></span>

    <div class="copyright pull-right" style="font-family: serif; ">
      <img class="logo" src="../assets/img/tmb/logo_tmb.png" style="max-height: 60px;">
      &nbsp; &nbsp; 
      <!-- &copy; -->
      <a href="https://www.trymybest.co.in" target="_blank"><strong style="font-size: 20px;">tMb</strong></a>  &nbsp; Try My Best<br> &nbsp;&nbsp;&nbsp;&nbsp;Support Email:    hello@trymybest.co.in
    </div>
    <span style="flex: 1 1 auto;"></span>
  </div>
</footer>
