<div class="col-lg-12 panel-body">
    <div class="panel">
        <div class="panel-heading col-lg-12 ">
            <div id="table-header" class="input-group col-lg-12">
                <div class="input-group-prepend col-lg-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="color: black; font-size: medium;">Search</span>
                    </div>
                    <input (keyup)="getSearchTableTenderDetails($event.target.value)" type="text" class="form-control" placeholder="You Can Search table data" >
                </div>
            
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm ">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center text-truncate" scope="col">Sl.</th>
                                <th class="text-center" data-sortable="true" scope="col">Name of Work</th>
                                <th class="text-center" data-sortable="true" scope="col">Name of Agency</th>
                                <th class="text-left" scope="col" >Work Order No.</th>
                                <th class="text-center" scope="col">Rerence Tender</th>
                                <th class="text-center" scope="col">Estimated Amount put to Tender</th>
                                <th class="text-center" scope="col">Contactual %</th>
                                <th class="text-center" scope="col">Tendered Amount</th>
                                <th class="text-center" scope="col">Complition Time</th>
                                <th class="text-center" scope="col">Date of Commencement</th>
                                <th class="text-center" scope="col">Probable Complition</th>
                                <th class="text-center" scope="col">Actual Complition</th>
                                <th class="text-center" scope="col">Tender Authority</th>
                                <th class="text-center" scope="col">Working Section</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tenderDetails; let sl = index; ">
                                <td class="text-center" scope="row">{{ sl + 1 }}</td>
                                
                            </tr>
                        </tbody>
                        <tfoot>
    
                        </tfoot>
                    </table>
                </div>
               <div class="pagination" id="table-pagination">
                <span class="spacer"></span>
                <div *ngIf="loading" class="d-flex align-items-center">
                    <strong>Loading...</strong>
                    <span class="spinner-border text-light"></span>  
                    <span class="spinner-border text-danger"></span>  
                    <span class="spinner-border text-dark"></span>  
                </div>
                <span class="spacer"></span>
                <div class="pagination">
                    <pagination 
                        [boundaryLinks]="showBoundaryLinks" 
                        [totalItems]="totalRecords"
                        [maxSize]="maxSize"
                        [itemsPerPage]="pageSize"
                        [(ngModel)]="currentPage" 
                        (pageChanged)="pageChanged($event)" 
                    ></pagination>
                </div> 
                <span class="spacer"></span>
                <div class="d-flex justify-content-right">
                    <div class="col-md-8 mt-2" style="white-space: nowrap;">Item per Page</div>
                    <select (change)="onTableSizeChange($event)" class="custom-select" >
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    <div>
<div>