.spacer {
  flex: 1 1 auto;
}
.card {
  background: rgba(11, 94, 219, 0.5);
  border-radius: 5px;
  position: relative;
  margin-bottom: 0px;
}
.card-entry {
  background: rgba(245, 104, 23, 0.5);
  border-radius: 1px;
  margin-bottom: -50px;
}

.card-show {
  background: rgba(120, 121, 118, 0.5);
  border-radius: 1px;
  margin-bottom: -30px;
}

.form-check, label {
  font-size: 12px;
  line-height: 1.2;
  color: #E00A0A;
}
.tab{
  background: rgba(8, 174, 216, 0.5);
  border-radius: 1px;
  margin-bottom: -50px;
}
.tabs .mat-tab-label.mat-tab-label-active {
  background-color: #e920b7 !important;
  opacity: 1 !important;
}
.tabs .mat-ink-bar {
  background-color: #f80000 !important;
}

#tender-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-align: justify;
  line-height: 1.4;
}

.form-control {
  border-color: #2b3553;
  border-radius: 0.4285rem;
  font-size: 0.7500000025rem;
}

.table-responsive {
  max-height: 430px;
  max-width: 1470px;
}

.reverse-table {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 12px;
  padding: 0px;
}


#table-header {
  position: sticky;
  background: linear-gradient(to right, #1affe0, #eb9e0e, #3105f5);
  vertical-align: text-bottom;
  border-radius: 5px;
  width: 100%;
  color: black;
  padding: 5px;
  max-height: 50px;
}

#table-pagination {
  position: sticky;
  display: flex;
  border-radius: 5px;
  margin-top: 0px;
  height: 35px;
  background: linear-gradient(to right, #03b2e7, #48ff48, #df4fd7);
}

.pagination {
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
}

.pagination-size {
  display: flex;
  justify-content: right;
  padding-right: 0px;
  border-radius: 0.25rem;
}

.table {
  position: relative;
  border-collapse: collapse;
  border-radius: 5px;
  vertical-align: bottom;
  width: 100%;
  margin-top: 0rem;
  // margin-bottom: 1rem;
  background: rgba(17, 112, 255, 0.5);
  color: white;
  padding: 0px;
}

.table :hover {
  background: rgba(17, 17, 16, 0.5);
  color: greenyellow;
  border-radius: 5px;
}

.table td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
}

.table tr {
  cursor: pointer;
}

.table th {
  background-color: black;
  top: 0px;
  position: sticky;
  vertical-align: bottom;
  font-size: 12px;
  z-index: 5;
  /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}



.table th:nth-child(6) {
  background: rgba(241, 62, 62, 0.7);
}
.table td:nth-child(6) {
  background: rgba(241, 62, 62, 0.7);
}
.table td:nth-child(7) {
  background: rgba(241, 62, 62, 0.7);
}
.table td:nth-child(8) {
  background: rgba(241, 62, 62, 0.7);
}
.table td:nth-child(9) {
  background: rgba(241, 62, 62, 0.7);
}
.table td:nth-child(10) {
  background: rgba(241, 62, 62, 0.7);
}

.table td:nth-child(1) {
  color: white;
}

.table td:nth-child(2) {
  min-width: 100px;
}

.table td:nth-child(4) {
  min-width: 100px;
}



.btnCol {
  color: black;
  height: 30px;
  margin: auto 0.8em auto 0.4em;
  background: linear-gradient(to right, #05fc43, #c2bfcc, #e7f710, );
}
