<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">lock</i>
                        </div>
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width has-label" >
                            <input 
                                type="password"
                                matInput 
                                placeholder="Curent Password *" 
                                formControlName="currentPassword"
                            >                                
                        </mat-form-field>

                        <mat-form-field class="example-full-width has-label" [ngClass]="    {'has-success':validPassword===true}">
                            <input 
                                type="password"
                                matInput 
                                id="password" 
                                placeholder="New Password *" 
                                formControlName="password"
                                (ngModelChange)="passwordValidation($event)"
                                >
                            <app-field-error-display [displayError]="isFieldValid(changePasswordForm, 'password')" errorMsg="Enter a valid password.">
                            </app-field-error-display>
                        </mat-form-field>

                        <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validConfirmPassword===true}" [ngClass]="displayFieldCss(changePasswordForm, 'password')">
                            <input type="password"
                            matInput
                            id="confirmPassword"
                            placeholder="Confirm New Password *"
                            formControlName="confirmPassword"
                            (ngModelChange)="confirmPasswordValidation($event)"
                            >
                            <app-field-error-display
                            [displayError]="isFieldValid(changePasswordForm, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
                            </app-field-error-display>
                        </mat-form-field>
                    </div>
                    <div class="card-footer text-right">
                        <button mat-raised-button class="btn btn-success">
                            <span *ngIf="isLoading" class="spinner-border text-warning spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
