#message{
  padding-top: 20px;
  width: 80%;
  line-height: 1.2;
  text-align: justify !important;
  font-size: 18px !important;
  font-family: "Times New Roman", Times, serif;
  color: rgb(230, 247, 83);
  
}
#message2{
  width: 80%;
  line-height: 1.2;
  text-align: justify !important;
  font-size: 18px !important;
  font-family: "Times New Roman", Times, serif;
  color: rgb(4, 211, 248);
  
}
