#message{
    padding-right: 5px;
    text-align: justify !important;
    font-size: 18px !important;
    font-family: 'Gill Sans';
    color: rgb(230, 247, 83);
}
.sidebar .nav p { 
  line-height: 30px;
  font-size: 10px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
  font-family:'Segoe UI' !important;
}