
  <div class="col-12 card-body">
    <div class="row">
      <div class="card-entry col-md-9" *ngIf="newEnryFormShow">
        <!-- New Sub-Division Entry Form -->
        <form [formGroup]="subDivisionForm" *ngIf="isSubdivisionFormShow">
          <h2 style="text-align: center; color: yellow;">New Sub-Division Entry Form</h2>
          <div class="d-flex col-md-12">
            <div class="form-group col-3">
              <label>Name of Sub-Division*</label>
              <input type="text" formControlName="subDivn_name" placeholder="enter Sub-Division name"
                class="form-control" required>
            </div>
            <div class="form-group col-3">
              <label>Old Sub-Division name</label>
              <input type="text" formControlName="old_subDivn_name" placeholder="Previous name(if any)"
                class="form-control">
            </div>
            <div class="form-group col-3">
              <label>Remarks</label>
              <input type="text" formControlName="remarks" placeholder="enter remarks" class="form-control">
            </div>
            <div class="form-group col-3 mt-4">
              <span class="spacer"></span>
              <button class="btn btn-sm btnGrn" [disabled]="!subDivisionForm.valid"
                (click)="addNewSubDivision()">Submit</button>
              <button class="btn btn-sm btn-rose" (click)="cancelSubDivision()">Cancel</button>
            </div>
          </div>
        </form>
        <!-- New Section Entry Form -->
        <form [formGroup]="sectionForm" *ngIf="isSectionFormShow">
          <h2 style="text-align: center; color: yellow;">New Section Entry Form</h2>
          <div class="d-flex col-md-12">
            <div class="form-group col-3">
              <label>Name of Section*</label>
              <input type="text" formControlName="section_name" placeholder="Enter Section name" class="form-control"
                required>
            </div>
            <div class="form-group col-3">
              <label>CUG Mobile</label>
              <input type="text" formControlName="mobile" placeholder="CUG No.(if any)" class="form-control">
            </div>
            <div class="form-group col-3">
              <label>Remarks</label>
              <input type="text" formControlName="remarks" placeholder="remarks" class="form-control">
            </div>
            <div class="form-group col-3 mt-4">
              <span class="spacer"></span>
              <button class="btn btn-sm btnGrn" [disabled]="!sectionForm.valid" (click)="addNewSection()">Submit</button>
              <button class="btn btn-sm btn-rose" (click)="cancelSection()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-edit col-md-3" *ngIf="showUnavailableEntryform">
        <h3>{{ message }}</h3>
        <form [formGroup]="newSectionEntryForm" style="margin-bottom: 0px;">
          <div class="col-md-12" *ngIf="authUser.designation_id > 3">
            <div class="form-group col-md-12 pr-md-1">
              <a class="btn btn-sm btnCol" (click)="showSubDivisionInsertFormIf()"><fa-icon [icon]="faPlus"></fa-icon></a>
              <label>Sub-Division*</label>
              <select tooltip ="if your Sub-Division is not available in dropdown menu. Click on + sign to add  Sub-Division" placement="right" (change)="getSectionsBySubDivisionId($event.target.value)" formControlName="sub_division_id" class="form-control" required>
                <option value="null">--Select Sub-Division--</option>
                <option *ngFor="let item of subDivns" [value]="item.id">
                  {{ item.sub_division_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12" *ngIf="authUser.designation_id > 2">
            <div class="form-group col-md-12 pr-md-1">
              <a class="btn btn-sm btnCol" *ngIf="newSectionEntryForm.value.sub_division_id" (click)="showSectionInsertFormIf($event.target.value)"><fa-icon [icon]="faPlus"></fa-icon></a>
              <label>Section*</label>
              <select tooltip ="if your Section is not availabe in dropdown menu. Click on + sign to add your Section" placement="left"  formControlName="section_id" class="form-control" required>
                <option value="null">--Select Section--</option>
                <option *ngFor="let item of sections" [value]="item.id">
                  {{ item.section_name }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<div class="card">
  <mat-accordion>
    <form [formGroup]="newTenderForm" style="margin-bottom: 0px;">
      <mat-expansion-panel [expanded]=expanded class="card">
        <mat-expansion-panel-header class="accordion-header">
          <mat-panel-title class="mt-2">Add New Tender Details</mat-panel-title>
          <span class="spacer"></span>
          <div class="col-4 mt-1">
            <input (keyup)="getSearchTableTenderDetails($event.target.value)" type="text" class="form-control" placeholder="Search Tender Details" >
          </div>
          <div>
            <button  class="btn btn-sm btn-rose" [routerLink]="['/pwd-works/cpanel/edit-tender']">Edit Tender details</button>
            <button class="btn btn-sm btn-info" [routerLink]="['/pwd-works/tender-details']">View Tender details</button>
          </div>
          <span class="spacer"></span>
        </mat-expansion-panel-header>
        <div class="d-flex col-12" style="color: white;">
          <div class="col-md-2 px-md-1">
            <div class="form-group">
              <label>Department</label>
              <select formControlName="department_id" class="form-control" style="color: white;">
                <option value="null">--Select--</option>
                <option *ngFor="let item of depts" [value]="item.id">
                  {{ item.department_short_name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-2 px-md-1">
            <div class="form-group">
              <label>Tender Authority</label>
              <select (change)="getTenderAuthorityOffice($event.target.value)" formControlName="authority_designation_id" class="form-control" required aria-readonly="">
                <option value="null">--Select--</option>
                <option *ngFor="let item of designs" [value]="item.id">
                  {{ item.designation_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group col-1">
            <label>Tender No</label>
            <input type="text" formControlName="tdNo" class="form-control" required>
          </div>
          <div class="form-group col-1">
            <label>Work Order No</label>
            <input type="text" formControlName="woNo" class="form-control" required>
          </div>
          <div class="col-md-2 px-md-1">
            <div class="form-group">
              <label>Work Order Date</label>
              <input type="text"
                class="form-control"
                placeholder="Select Date"
                bsDatepicker
                formControlName="work_order_date"
                (bsValueChange)="changeWod($event)"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true, containerClass: 'theme-green' }"
                >
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <a class="btn btn-sm btnCol" (click)="showUnavailableEntryformif()"><fa-icon [icon]="faPlus"></fa-icon></a>
              <label>Work under Section</label>
              <select formControlName="section_id" class="form-control" tooltip ="if your Section is not availabe in dropdown menu. Click on + sign to add your Section" required >
                <option value="null">--Select--</option>
                <option *ngFor="let item of sections" [value]="item.id">
                  {{ item.section_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-1 px-md-1">
            <div class="form-group">
              <label>DLP</label>
               <select formControlName="dlps_id" class="form-control" required aria-readonly="">
                <option value="null">--Select--</option>
                <option *ngFor="let item of dlps" [value]="item.id">
                  {{ item.defect_liability_period }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-1 px-md-1">
            <div class="form-group">
              <label>FY</label>
              <input type="text" formControlName="financial_year" class="form-control">
            </div>
          </div>
        </div>

        <div class="d-flex col-12" style="color: white;">
          <div class="form-group col-2">
            <label>Agency</label>
            <input type="text" formControlName="agency" class="form-control" required>
          </div>
          <div class="form-group col-2">
            <label>Amount Put to Tender</label>
            <input type="text" formControlName="amount_put_tender" class="form-control" (keyup)="getTenderedAmount()" required>
          </div>
          <div class="form-group col-1">
            <label>Contactual %</label>
            <input type="text" formControlName="contactual" class="form-control" (keyup)="getTenderedAmount()" required>
          </div>
          <div class="form-group col-2">
            <label>Tendered Amount</label> &nbsp;
            <input (change)="checked = !checked" type="checkbox" [checked]="checked" (change)="getTenderedAmount()"> Rounded
            <input type="text" formControlName="tendered_amount" class="form-control" required style="color: yellow;">
          </div>
          <div class="col-md-2 px-md-1">
            <div class="form-group">
              <label>Date of Commencement</label>
              <input type="text"
                class="form-control"
                placeholder="Select Date"
                bsDatepicker
                formControlName="commencement_date"
                (bsValueChange)="changeDoc($event)"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true, containerClass: 'theme-green' }"
                >
            </div>
          </div>
          <div class="d-flex col-2">
            <div class="form-group" style="min-width: 70px;">
              <label>Time</label>
              <input type="text" formControlName="complitionTime" tooltip ="Work complition time in NUMBER only" placement="top" class="form-control" required>
            </div>
            <div class="form-group" style="min-width: 130px;">
              <label>Unit</label>
              <select formControlName="comTimeUnit" class="form-control" required>
                <option value="null">--Select--</option>
                <option value="Days">days</option>
                <option value="Months">months</option>
                <option value="Years">years</option>
              </select>
            </div>
          </div>
        </div>

        <div class="d-flex col-12" style="color: white;">
          <div class="col-5">
            <textarea type="text" rows="1" placeholder="Name of Work" formControlName="work_name" class="form-control"></textarea>
          </div>
          <div class="col-4">
            <textarea type="text" tooltip="You can enter agency's Contact no. etc" rows="1" placeholder="Remarks (if any)" formControlName="remarks" class="form-control"></textarea>
          </div>
          <div class="d-flex col-3" style="max-height: 40px;">
            <button class="btn btn-sm btnCol" [disabled]="!newTenderForm.valid" (click)="addNewTenderDetails()">Submit</button>
            <button class="btn btn-sm btn-rose" (click)="formReset()" >Reset</button>
          </div>
        </div>
      </mat-expansion-panel>
    </form>
  </mat-accordion >
</div>


<div class="table-responsive">
  <table class="table table-striped table-sm ">
    <thead class="table-dark">
      <tr>
        <th class="text-center text-truncate" scope="col">ID</th>
        <th class="text-center" data-sortable="true" scope="col-2">Name of Work</th>
        <th class="text-center" data-sortable="true" scope="col">Name of Agency</th>
        <th class="text-center" scope="col">Rerence Tender</th>
        <th class="text-center" scope="col">Amount put to Tender</th>
        <th class="text-center" scope="col">Contactual</th>
        <th class="text-center" scope="col">Tendered Amount</th>
        <th class="text-center" scope="col">Date of Commencement</th>
        <th class="text-center" scope="col">Complition Time</th>
        <th class="text-center" scope="col">Probable Complition</th>
        <th class="text-center" scope="col">Actual Complition</th>
        <th class="text-left" scope="col">Work Order Date</th>
        <th class="text-center" scope="col">Work Order No.</th>
        <th class="text-center" scope="col">Tender Authority</th>
        <th class="text-center" scope="col">Office</th>
        <th class="text-center" scope="col">DLP</th>
        <th class="text-center" scope="col">Financial Year</th>
        <th class="text-center" scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tenderDetails; let sl = index;">
        <td class="text-top" scope="row">{{ item.id }}</td>
        <td class="text-justify" scope="row">{{ item.work_name }}</td>
        <td class="text-center" scope="row">{{ item.agency }}</td>
        <td class="text-justify" scope="row">{{ item.tender_no }}</td>
        <td class="text-center" scope="row">{{ item.amount_put_tender | currency:'INR':'symbol':'4.0-2' }}</td>
        <td class="text-center" scope="row">{{ item.contactual/100 | percent:'0.0-4' }}</td>
        <td class="text-center" scope="row">{{ item.tendered_amount | currency:"INR" }}</td>
        <td class="text-center" scope="row">{{ item.commencement_date }}</td>
        <td class="text-center" scope="row">{{ item.complition_time }}</td>
        <td class="text-center" scope="row">{{ item.expectedComplition }}</td>
        <td class="text-center" scope="row">{{ item.actualComplitionDate }}</td>
        <td class="text-center" scope="row">{{ item.work_order_date }}</td>
        <td class="text-justify" scope="row">{{ item.work_order_no }}</td>
        <td class="text-center" scope="row">{{ item.tenderAuthority }}</td>
        <td class="text-center" scope="row">{{ item.authority_office }}</td>
        <td class="text-center" style="white-space: nowrap;" scope="row">{{ item.dlp }}</td>
        <td class="text-center" scope="row">{{ item.financial_year }}</td>
        <td class="text-left" scope="row">{{ item.remarks }}</td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
<div class="pagination" id="table-pagination">
  <span class="spacer"></span>
  <div *ngIf="loading" class="d-flex align-items-center">
    <strong>Loading...</strong>
    <span class="spinner-border text-light"></span>
    <span class="spinner-border text-danger"></span>
    <span class="spinner-border text-dark"></span>
  </div>
  <span class="spacer"></span>
  <div class="pagination">
    <pagination
      [boundaryLinks]="showBoundaryLinks"
      [totalItems]="totalRecords"
      [maxSize]="maxSize"
      [itemsPerPage]="pageSize"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
  <span class="spacer"></span>
  <div class="d-flex justify-content-right">
    <div class="col-md-8 mt-2" style="white-space: nowrap;">Item per Page</div>
    <select (change)="onTableSizeChange($event)" class="custom-select" >
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>

