.spacer {
  flex: 1 1 auto;
}

.card-entry {
  background: rgba(245, 104, 23, 0.5);
  border-radius: 1px;
  margin-bottom: -50px;
}
.card-edit {
  background: rgba(23, 230, 245, 0.5);
  border-radius: 1px;
  margin-bottom: -50px;
  float: right !important;

}
.card {
  background: rgba(11, 94, 219, 0.5);
  border-radius: 5px;
  margin-bottom: 0px;
}

.form-control {
  border-color: #2b3553;
  border-radius: 0.4285rem;
  color: red;
  font-size: 0.7500000025rem;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-check, label {
  font-size: 12px;
  line-height: 1.42857;
  color: whitesmoke;
  font-weight: 400;
}

.panel-body {
  border-radius: 5px;
}

.p-bar {
  margin-top: -20px;
  margin-bottom: -20px;
}

.custom-select {
  display: inline-block;
  width: 100%;
  color: red;
  height: 35px;
  padding: 0.375rem 1.75rem 0.375rem 0rem;
}

.table-responsive {
  max-height: 300px;
  max-width: 1500px;
}

.accordion-header {
  background:  #2b3553;
  border-radius: 5px;
  width: 100%;
}

#table-header {
  position: sticky;
  background: linear-gradient(to right, #1affe0, #eb9e0e, #3105f5);
  vertical-align: text-bottom;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0rem;
  color: black;
  padding: 5px;

}

#table-pagination {
  position: sticky;
  display: flex;
  border-radius: 5px;
  margin-top: 0px;
  height: 35px;
  background: linear-gradient(to right, #03b2e7, #48ff48, #df4fd7);
}

.pagination {
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
}

.pagination-size {
  display: flex;
  justify-content: right;
  padding-right: 0px;
  border-radius: 0.25rem;
}

.table {
  position: relative;
  border-collapse: collapse;
  border-radius: 5px;
  vertical-align: bottom;
  width: 100%;
  background: rgba(17, 112, 255, 0.5);
  color: white;
  padding: 0px;
}

.table td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
}

.table tr {
  cursor: pointer;
}

.table th {
  background-color: black;
  top: 0px;
  position: sticky;
  vertical-align: bottom;
  font-size: 12px;
  z-index: 5;
  /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table td:nth-child(1) {
  background: rgba(241, 19, 19, 0.8);
  color: white;
}

.table td:nth-child(2) {
  min-width: 250px;
}

.table td:nth-child(3) {
  background: rgba(222, 236, 28, 0.7);
  color: black;
}

.table td:nth-child(4) {
  min-width: 150px;
}

.table td:nth-child(5) {
  background: rgba(241, 62, 62, 0.7);
}

.table td:nth-child(7) {
  background: rgba(206, 241, 6, 0.5);
  color: black;
}

.table td:nth-child(9) {
  background: rgba(236, 238, 238, 0.5);
  color: black;
}

.table td:nth-child(11) {
  background: rgba(245, 8, 8, 0.5);
}

.table td:nth-child(13) {
  background: rgba(102, 245, 233, 0.8);
  min-width: 150px;
  color: black;
}

.table td:nth-child(15) {
  background: rgba(245, 212, 102, 0.8);
  color: black;
}

.table td:nth-child(17) {
  background: rgba(32, 8, 245, 0.5);
}

.table td:nth-child(18) {
  min-width: 150px;
}

.btnCol {
  color: black;
  height: 30px;
  margin: auto 0.8em auto 0.4em;
  background: yellow;
}
